*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(118, 118, 220);
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h1{
    align-items: center;
    color: black;
  }